/* класс nav по семантике означает навигацию*/ 
body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: Rubik;
    font-size: 14px;
    color: #616161;
}
/* ------------------------------------------ */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* ------------------------------------------ */

.main {
    flex: 1 1 auto;
}
[class*="__container"] { /* css селектор атрибута.  любой объект с этим классом с такими стилями будет*/
    max-width: 1057px;
    margin: 0px auto; /*чтоб все было по центру */ 
    padding: 0px 15px; /* отступы безопасности */
}
@media (max-width: 1087px) { /* выстраиваем breakpoint'ы, стандартная ширина + паддинг*/
    [class*="__container"] { 
        max-width: 970px;
    }
}
@media (max-width: 991.98px) { 
    [class*="__container"] { 
        max-width: 750px;
    }
}
@media (max-width: 767.98px) { 
    [class*="__container"] { 
        max-width: none;
    }
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50; /* этими настройками зафиксировали шапку*/
}   
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
}
.header__menu {
    flex: 1 1 auto; /* элементы могут увеличиваться и заполнять контейнер, а также сжиматься при необходимости. */
}
.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}


.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;

}
.menu__item {
    margin-right: 40px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 1.2; /* относительное значение которое полдстроится при изменении размера шрифта*/
    transition: color 0.3s ease 0s;
}
.menu__link:hover {
    color: #EC5863; 
}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .menu__item {
        margin-right: 30px;
    }
    .header__button {
        flex: 0 0 150px;
    }
}

.button {
    display: inline-block; /* ссылка строчная, ну на всякий просто добавили*/
    font-family: Raleway;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FCFDFE;
    border-radius: 5px;
    padding: 14px 30px;
    background-color: #EC5863;
    transition: background-color 0.3s ease 0s;
    
}
.button:hover {
    background-color: #be323c;
}
.button_blue {
    background-color: #4285F4;
}
.button_blue:hover {
    background-color: #1e5fc9;
}